<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap 5 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- fontawsome -->
    <script src="https://kit.fontawesome.com/04d9d162e7.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="assets/css/styles.css">

    <title>Laith Alwani</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

        <!-- Brand  -->
        <a href="/" class="navbar-brand">Laith Alwani</a>

        <!-- Mobile Burger Icon -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navegation Links -->
                <ul id="links" class="navbar-nav mx-auto">
                    <li class="nav-item active">
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="assets/images/resume01.pdf" target="_blank" class="nav-link">Resume</a>
                    </li>
                </ul>
            <!-- Navegation Links Ends-->
            
            <!-- Social Media Icons  make Icons inside burger to collapse-->
            <ul class="navbar-nav navbar-social">
                <li class="nav-item">
                    <a href="https://www.facebook.com/AlwaniLaith " target="_blank" class="nav-link"><span
                            class="fab fa-facebook-square fa-lg"></span></a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/laitho15/" target="_blank" class="nav-link"><span
                            class="fab fa-instagram fa-lg"></span></a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/LaithAlwani" target="_blank" class="nav-link fa-lg">
                        <span class="fab fa-github-square"></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://www.linkedin.com/in/laith-alwani/" target="_blank" class="nav-link"><span
                            class="fab fa-linkedin fa-lg"></span></a>
                </li>
            </ul>
            <!-- Social Media Icons Ends-->

        </div>
    </nav>
    <!-- Navegation Bar ends -->
    {{{body}}}
    <!-- STICKY FOOTER START -->
    <footer class="v-center">
        <span class="small mx-auto">Copyright &copy; Laith Alwani 2020 - Ottawa,ON.</span>
    </footer>
    <!-- STICKY FOOTER END -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
        </script>


</body>

</html>