<section class="contact-form">
    <div class="contact-form-top">
        <h4>Contact:</h4>
        <p class="small text-muted mb-0">please fill out the form below</p>
    </div>
    <div class="contact-form-main">
        <form action="#">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" required>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
                <textarea name="textarea" id="textarea" class="form-control" rows="8" placeholder="Message"
                    required></textarea>
            </div>
            <button type="submit" class="btn btn-block">Submit</button>
        </form>
    </div>
</section>