<section id="portfolio" class="container">
    <h1>Portfolio:</h1>
    <p class="lead"></p>
    <div id="project" class="row no-gutters mb-3">
        <div id="best-work" class="col-md-4">

            <img src="assets/images/project02.png" alt="A computer with two screens that have with codes displayed"
                class="img-fluid ">

        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Movie Search</h5>
                <p>Provides details to a certian movie title and displays related movies</p>
                <p>Technologies:</p>
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>html</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>JQuery</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>UIKit (CSS farework)</li>
                            <li>Giphy API</li>
                            <li>Open Movie Database API</li>
                        </ul>
                    </div>
                </div>
                <div class="text-center">
                    <a href="https://laithalwani.github.io/movie-search" class="btn btn-sm" target="_blank">Deployed
                        Application</a>
                    <a href="https://github.com/LaithAlwani/movie-search" class="btn btn-sm" target="_blank">Github
                        Repository</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row text-center">
        <div class="col-md-4 collection">
            <div class="card ">
                <img src="assets/images/weather.jpg"
                    alt="white gears with a blue backgorund titled Web development Projects" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Weather Dashboard</h5>
                    <p class="card-text">provides current weather details and 5 days forecast for a specific city
                    </p>
                    <div class=" card-text text-left">
                        <span>Technlogies:</span>
                        <ul class="">
                            <li>Html</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>UIKit (CSS frame work)</li>
                            <li>Open Weather Map API</li>
                        </ul>
                    </div>

                    <div class="text-center">
                        <a href="https://laithalwani.github.io/weather-dashboard" class="btn btn-sm"
                            target="_blank">Deployed Application</a>
                        <a href="https://github.com/LaithAlwani/weather-dashboard" class="btn btn-sm"
                            target="_blank">Github Repository</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4 collection">
            <div class="card">
                <img src="assets/images/calender.png" alt=" tools layed out on the table titled projects"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Work Day Scheduler</h5>
                    <p class="card-text">setting meetings and appointments and orginize the day.</p>
                    <div class=" card-text text-left">
                        <span>Technlogies:</span>
                        <ul class="">
                            <li>Html</li>
                            <li>CSS</li>
                            <li>Javascript</li>
                            <li>Bootstrap 4</li>
                        </ul>
                    </div>

                    <div class="text-center">
                        <a href="https://laithalwani.github.io/work-day-scheduler" class="btn btn-sm"
                            target="_blank">Deployed Application</a>
                        <a href="https://github.com/LaithAlwani/work-day-scheduler" class="btn btn-sm"
                            target="_blank">Github Repository</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 collection">
            <div class="card">
                <img src="assets/images/paletta.png" alt="A Cartoonish man with ligh bulb on top of his head"
                    class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Paletta Studio</h5>
                    <p class="card-text">A digital media company that produces educational apps</p>
                    <div class=" card-text text-left">
                        <span>Technlogies:</span>
                        <ul class="">
                            <li>Html</li>
                            <li>CSS</li>
                            <li>UIKit</li>
                        </ul>
                    </div>

                    <div class="text-center">
                        <a href="https://www.paletta-studio.com" class="btn btn-sm" target="_blank">Deployed
                            Application</a>
                        <a href="https://github.com/LaithAlwani/paletta-studio" class="btn btn-sm"
                            target="_blank">Github Repository</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>