@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');
html, body{
    scroll-behavior: smooth;    
    margin: 0;
}

.box{
    min-height: 100vh;
    padding-top: 2rem;
    font-family: 'Titillium Web', sans-serif;
}
.container{
    min-height: 100vh !important;
}
.portfolio{
    background-color: rgb(233, 233, 233);
    
}

.portfolio-contianer{
    padding-top: 2rem;
}

.v-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

h5{
    margin: 0 auto;
}

.btn{
    background-color: rgba(112, 112, 112, 0.5);
    
} 

.btn:hover{
    
    background-color: rgb(61, 61, 61);
    color: white;
} 

.btn:active{
    background-color: rgb(180, 180, 180);
    color: inherit;
    outline: none;
    
} 
.btn:focus {
    outline:none;
}
ul{
    list-style: none;
    padding: 0;
}

.contact-form{  
    width:65%;  
    margin: 5% auto;
    border: 1px solid lightgrey;
    box-shadow: 10px 10px 20px lightgrey;
    padding: 0px;
}
.contact-form-top{
    background-color: lightgrey;
    padding: 10px;
}
.contact-form-main{
    padding: 10px;
}

#message{
    resize: none;
}

footer{
    height: 50px;
    background-color: black;
    color: white;
}


@media only screen and (max-width:768px){

    .navbar-social  {
        display: flex;
        flex-direction: row;
        /* position: absolute; */
        top:50px;
        right:15px;
    }  

    .navbar-social li{
        margin: 0 5px;  
    }

    .contact-form{
        text-align: center;
        width: 100%;
    }
}