.images{
    box-shadow: 10px 10px 15px 5px rgba(122, 122, 122, 0.746);
    margin-bottom: 20px;
}
.images img{
    width: 100%;
    height: 100px;
}

/* CONTACT FORM STARTS */

.contact-from{
    
    margin: 1rem auto;
    border: 1px solid lightgrey;
    box-shadow: 10px 10px 20px 1px rgba(180, 180, 180, 0.534);
    padding: 20px;
}
/* CONTACT FORM ENDS */

/* PROTFOLIO PAGE START */
.portfolio .collection{
    margin-bottom: 20px;
    
}
 .portfolio .card{
    height: 100%; 
} 

/* PORTFOLIO PAGE ENDS */

@media only screen and (max-width:575px){
    .images img{
        height: auto;   
    }

    #personal-image{
        border-radius: 50%;
    }
    #about-me{
        padding: 20px ;
    }


    
}