/* Google font Titillium Eb Import */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400&display=swap');
html{
    height: 100%;
}
/* Body properties  */
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    text-align: justify; 
    text-transform: uppercase;
}
/* NavBar Properties Start */
 .navbar{
    position: relative;
}
.navbar-social{
    position: absolute;
    right:75px;
} 

/* NavBar Properties Ends */

/* Main profile image  */
#personal-image{
    border-radius: 20px;
    max-height: 500px;  
}
/* Random Images Starts */
.images{
    box-shadow: 10px 10px 20px lightgrey;
    margin-bottom: 20px;
    border: 2px solid white;
}
.images img{
    width: 100%;
    height: 100px;
}


/* Random Images Ends */

/* PROTFOLIO PAGE START */
#best-work{
    margin-bottom: 20px;
}
.portfolio .collection{
    margin-bottom: 20px;
    
}
 .portfolio .card{
    height: 100%; 
} 

/* PROTFOLIO PAGE End */

/* CONTACT FORM STARTS */

.contact-form{  
    margin: 5% 15%;
    border: 1px solid lightgrey;
    box-shadow: 10px 10px 20px lightgrey;
    padding: 0px;
}
.contact-form-top{
    background-color: lightgrey;
    padding: 10px;
}
.contact-form-main{
    padding: 10px;
}
.contact-form .btn{
    background-color: gray;
    border-color: gray;
    color: white;
}
.contact-form .btn:hover{
    background-color: darkgrey;
}

/* CONTACT FORM ENDS */

/* Footer Styling Properties Start  */
footer{
    background-color: lightgray;
    margin-top: auto;
    padding: 5px 0;
    display: block;
    text-align: center;
}
.list-inline-item a{
    color: rgb(102, 101, 101);
}
.list-inline-item a:hover{
    color: gray;
    text-decoration: none;
}
.chosen{
    color: black !important;
}

/* Footer Styling Properties Start  */

/* Media Queries */

@media only screen and (max-width:575px){
    .contact-form{
        margin: 25px 15px;
    }
}
@media only screen and (max-width:768px){ 
    .navbar-social  {
        display: flex;
        flex-direction: row;
        position: absolute;
        top:50px;
        right:15px;
    }  
    .navbar-social li{
        margin: 0 5px;  
    }

    #about-me{
        padding: 0 20px ;
    }
    .images img{
        height: auto;   
    }
}