html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
 .navbar{
    position: relative;
    
}
.collapse{
    margin-right: 180px;
}
.navbar-social{
    position: absolute;
    right:75px;
} 
.images{
    box-shadow: 10px 10px 20px lightgrey;
    margin-bottom: 20px;
    border: 2px solid white;
}
.images img{
    width: 100%;
    height: 100px;
}

/* CONTACT FORM STARTS */

.contact-form{
    
    margin: 1rem auto;
    border: 1px solid lightgrey;
    box-shadow: 10px 10px 20px lightgrey;
    padding: 20px;
}
/* CONTACT FORM ENDS */

/* PROTFOLIO PAGE START */
#best-work{
    margin-bottom: 20px;
}
.portfolio .collection{
    margin-bottom: 20px;
    
}
 .portfolio .card{
    height: 100%; 
} 

footer{
    background-color: lightgray;
    margin-top: auto;
    padding: 5px 0;
    display: block;
    text-align: center;
}
.list-inline-item a{
    color: rgb(53, 53, 53);
}
.list-inline-item a:hover{
    color: gray;
    text-decoration: none;
}


/* PORTFOLIO PAGE ENDS */

@media only screen and (max-width:768px){ 
    .navbar-social  {
        display: flex;
        flex-direction: row;
        position: absolute;
        top:45px;
        right:15px;
        
        
    }  
    .navbar-social li{
        margin: 0 5px;  
    }

    .images img{
        height: auto;   
    }

    #personal-image{
        border-radius: 50%;
        float: right;
    }
    #about-me{
        padding: 20px ;
    }


    
}